# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environment variables
.env
.env.local

# Virtual Environments
venv/
env/
.venv/
ENV/

# IDE / Editor config
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Local Database / Docker volumes
mysql_data/
*.sqlite3
